/* Modern CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* Remove default margin and padding */
  html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
  a, abbr, address, cite, code, em, img, small, strike, strong, sub, sup,
  dl, dt, dd, ol, ul, li, fieldset, form, label, legend, button, table,
  caption, tbody, tfoot, thead, tr, th, td, article, aside, footer, header,
  nav, section, main {
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }
  
  /* Set core body defaults */
  body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
  }
  
  /* Make images easier to work with */
  img {
    max-width: 100%;
    display: block;
  }
  
  /* Inherit fonts for inputs and buttons */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* Remove all animations and transitions for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    * {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  
  /* For code elements */
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  /* Remove list styles */
  ul, ol {
    list-style: none;
  }
  
  /* A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* Normalize anchor styling */
  a {
    color: inherit;
    text-decoration: none;
  }